.case-history{
    border: 1px solid grey;
    min-height:700px;
}

.case-history .title{
    background-color: green;
    color:#fafafa;
    font-size:18px;
    padding:8px 10px;
}
div > a.list-group-item{
    padding-top:5px;
    padding-bottom:5px;
    color:#007bff;
}