.public-navbar{
    /* background-color: #0c4b33; */
    background-color: #0f4676;
}
.public-navbar .navbar-toggler{
    color:#FAFAFA!important;
}
.public-navbar .nav-link{
    color: white!important;
    font-size: 16px;
    padding-left:6px!important;
    padding-right:6px!important;
}
.public-navbar .nav-link{
    color: white!important;
    font-size: 16px;
    padding-left:6px!important;
    padding-right:6px!important;
    text-decoration: none;
}
.public-navbar .nav-link-order{
    color: orange!important;
    font-weight: bold;
}
.public-navbar .navbar-brand{
    font-weight:bold;
    color:#FAFAFA!important;
    font-size:20px;
}
.public-navbar .dropdown{
    margin:0; 
}
.public-navbar a.dropdown-item{
    padding:10px 5px;
    min-width: 250px;
}
.public-navbar a.dropdown-item {
    text-decoration: none;
    padding:10px;
    color:#FAFAFA;
    /* font-weight: 600; */
}

.navbar-nav .dropdown-menu a:hover{
    background-color: #FFAB1F;
    color:#FAFAFA;
}

.dropdown-menu{
    /* background-color:#0c4b33!important; */
    background-color: #0f4676;
    padding-top:0px;
    padding-bottom:0px;
    border-radius: 0px;
    min-width:250px;
}
.dropdown-menu a{
    color:#FAFAFA;
    padding:8px 8px;
    border-bottom:1px solid #FAFAFA;
}

.dropdown-menu a > a {
    border:none
}

.btn-signin{
    width:100%;
    background-color:#024796!important;
    border-color:#024796!important;
    color:#FAFAFA!important;
} 

form input[type="radio"], form input[type="checkbox"]{
    width:20px;
}
    
.sticky-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #3680ee;
}
.form-signin a {
    text-decoration: none;
    color: '#024796'
}

/* .form-signin input, .form-signin select{
    border:1px solid skyblue;
} */

.sub-footer h6{
    color:orange;
    font-weight:bold;
    font-size:18px;
    text-decoration: underline;
    padding-bottom:10px;
}

.important-links > li, .quick-links > li{
    list-style-type: none;
}

.important-links > li > a, .quick-links > li > a{
    color:#FAFAFA;
    text-decoration: none;
}
.section-heading{
    font-weight: bold;
    margin-bottom: 15px;
}

.registration-card{
    border-style: none!important;
    box-shadow: none;
}
.registration-card .card-header{
    background-color: inherit;
    border-bottom: none;
    text-align: center;
    color:rgba(233, 9, 9)
}
.Toastify__toast-container{
    width:500px;
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm {
      min-width: 1400px;
    }
}

.feeds-container{
    height:500px;
    overflow-y:scroll
}
.comments-container{
    height:500px;
    overflow-y: scroll;
}
.css-bhp9pd-MuiPaper-root-MuiCard-root {
    background:#F8F9F9!important;
    margin:10px!important;
    box-shadow: none;
    border:1px solid #F2F3F4;
}

.css-et1ao3-MuiTypography-root{
    font-weight:bold!important;
    font-size:16px!important;
}

.registration-alert{
    font-size: 18px!important;
    font-weight:bold!important;
}
legend > span {
    font-weight:400!important
}

.calendar{
    width   :50px;
    height  :50px;
    border :1px solid  #3498db;
    /* border-radius: 2px; */
}

.calendar .month, .calendar .year {
    background-color: #3498db;
    text-align:center;
    color: #fafafa;
    font-size: 12px;
    font-weight: bold;
    height:15px;
}
.calendar .date{
    text-align:center;
    color: #3498db;
    font-size: 14px;
    font-weight: bold;
    height:18px;
}

.centered-list {
    list-style-position: inside; /* Ensure list numbers are inside the list items */
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the list items */
  }

  .centered-list li {
    text-align: center; /* Center the text of each list item */
    width: 100%; /* Make each list item take the full width */
  }

.profile .card{
    border:none;
    border-radius:0px;
    box-shadow: none;
}

.badge {
    border-radius: 0;
    font-size: 16px;
    line-height: 1;
    padding: .375rem .5625rem;
    font-weight: bold
}

.badge-outline-primary {
   background-color: #405189;
   border: 1px solid #405189;
   color:#FAFAFA;
}

.badge-pill {
   border-radius: 10rem;
}
.navbar-toggler {
    background-color: #2af5c2; /* Background color */
    border: px solid #ffffff; /* Border color and width */
    padding: 1px 10px; /* Adjust padding */
    border-radius: 4px; /* Rounded corners */
}
.navbar-toggler-icon {
    width: 1.5em;  /* Adjust width */
    height: 1.5em; /* Adjust height */
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:hover {
    background-color: #495057; /* Hover background */
    border-color: #adb5bd; /* Hover border */
}

.navbar-toggler:focus {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); /* Focus shadow */
    outline: none; /* Remove outline */
}